*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.create_form_global {
    height: 100vh;

    background: #262431ed ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;

}

.createForm__inner{
    display: flex;
    align-items: center;
    width: 600px;
    height: 400px;
    flex-direction: column;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    box-shadow: -3px -5px 49px 3px rgba(195,99,240,1);
    padding: 0 25px;

}

.create_form_description {
    min-width: 240px;
    max-width: 240px;
    max-height: 240px;
    min-height: 240px;
}

.header {
    display: flex;
    justify-content:  end;
    width: 100%;
    margin: 10px;
    color: red;
    &:hover {
        cursor: pointer;
    }
}
.body_content {
    display: flex;
    margin-top: 20px;
}

.img-preview {
    max-width: 250px;
    max-height: 250px;
}

.body_contentChooseFile{

}